<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://localhost/static/test.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='test.css') }}">
</head>
<body>
{{ data.name }}
{{ data.age }}
{#jinjia#}


{% set messages = get_flashed_messages(category_filter=['warning']) %}
{{ messages }}
</body>
</html>